@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gloria Hallelujah';
  src: url('./fonts/GloriaHallelujah-Regular.ttf');
}

@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-VariableFont_wght.ttf');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  width: 100vw;
  background-color:white;
}